.h100 {
  height: 100%;
}

.h80 {
  height: 80%;
}

.w100 {
  width: 100%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w35 {
  width: 35%;
}

.w30 {
  width: 30%;
}

.w40 {
  width: 40%;
}
.w45 {
  width: 45%;
}

.w60 {
  width: 60%;
}

.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.vh100 {
  height: 100vh;
}

.vw100 {
  width: 100vw;
}

.m-8 {
  margin: 8px;
}
.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-137 {
  margin-right: 137px;
}

.ml-3 {
  margin-left: 3px;
}

.ml-5 {
  margin-left: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.my-10 {
  margin: 10px 0;
}

.my-20 {
  margin: 20px 0;
}

.m-auto {
  margin: auto;
}

.flexbox {
  display: flex;
}

.row-new {
  display: flex;
  flex-direction: row;
}

.col-new {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.x-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.y-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-end {
  justify-content: flex-end;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.shadow-1 {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.09);
}

.semi-bold {
  font-weight: 600;
}

.last-element {
  margin-right: 20px;
}
