$primaryColor: #5eb1f1;
$primaryColor2: #4096d7;
$secondryColor: #242b42;
$secondryColor2: #332d48;
$color1: #474d60;
$color2: #8a9ca6;
$color3: #92b7c0;
$color4: #5e6374;
$headings-size: 34px;
$headings-weight: 600;
$font: "roboto";
$info-size: 20px;
